<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
<!--       <= link_to image_tag(pin.image.url(:medium)), pin %> -->
	<%= image_tag pin.image.url(:thumb) %>
      <div class="panel-body">
        <p><%= pin.description %></p>
         
          <% if current_user && pin.user == current_user %>
          <div class="actions"><br />
            <%= link_to edit_pin_path(pin) do %><br />
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
        <div class="comment-count">
		      <span class="tag is-rounded pull-right"><%= pin.comments.count %> comments</span>
		    </div>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <!-- <a href="https://click.linksynergy.com/fs-bin/click?id=0xQ/kAJ/41o&offerid=570502.8731&subid=0&type=4"><IMG border="0"   alt="Save $200 on Samsung Galaxy Note9, S9, or S9+ with qualified activation" src="https://ad.linksynergy.com/fs-bin/show?id=0xQ/kAJ/41o&bids=570502.8731&subid=0&type=4&gridnum=13"></a>-->
	 <!--<a href="https://click.linksynergy.com/fs-bin/click?id=0xQ/kAJ/41o&offerid=584883.5&subid=0&type=4"><IMG border="0"   alt="Alibaba Cloud" src="https://ad.linksynergy.com/fs-bin/show?id=0xQ/kAJ/41o&bids=584883.5&subid=0&type=4&gridnum=13"></a>-->
	 <!--<a href="https://click.linksynergy.com/fs-bin/click?id=0xQ/kAJ/41o&offerid=509570.10000256&subid=0&type=4"><IMG border="0"   alt="Stacy Adams" src="https://ad.linksynergy.com/fs-bin/show?id=0xQ/kAJ/41o&bids=509570.10000256&subid=0&type=4&gridnum=13"></a>-->

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
