<!DOCTYPE html>
<html>
  <head>
    <title alt="#MurryWedding">#MurryWedding</title>

<!--     <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> -->
<!--     <%= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!--<link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
    <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Lawrence Murry" />
    <meta name="keywords" content="Lawrence Murry, Latoya Murry, Murry Wedding" />
    <meta name="description" content="Here's a photo website capturing our gorgeous wedding.">
    <meta name="google-site-verification" content="..." />
    <meta property="og:site_name" content="MurryWedding" />
    <meta property="og:url" content="https://murrywedding.herokuapp.com" />
    <meta property="og:title" content="MurryWedding | Our Wedding Day Photos" />
    <meta property="og:description" content="Here's a photo website capturing our gorgeous wedding." />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="..." />
    <meta name="twitter:card" content="Here's a photo website capturing our gorgeous wedding." />
    <meta name="twitter:url" content="https://murrywedding.herokuapp.com">
    <meta name="twitter:title" content="MurryWedding | Our Beautiful Wedding" />
    <meta name="twitter:image" content="..." />
      
  </head>

  <body>
  	
  	<%= render "layouts/header" %>
  	<%= render 'shared/message' %>
  	
  	<% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
      
  	<div class="container">
  		<%= yield %>
  	
  	</div>
  
  </body>
</html>
